.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0;
    background-color: #E89B04;
    transition: background-color 0.3s ease-in-out;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
}

li a {
    color: #ffffff; 
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

li a:hover {
    color: #f0f0f0;
}

.button.active {
    background-color: #013396;
    border: 9px solid #013396;
    border-radius: 5px;
}