.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    background-color: rgb(230, 162, 36);
    transition: background-color 0.3s ease-in-out;
}

.menuList {
    display: flex;
    gap: 2rem;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
}

li a {
    color: #ffffff; 
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
}

li a:hover {
    color: #f0f0f0;
}

.button.active {
    background-color: #013396;
    border: 9px solid #013396;
    border-radius: 5px;
}

.carrinhoButton {
    background-color: rgb(10, 172, 10);
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
}

.carrinhoButton.active {
    background-color: rgb(6, 158, 6);
}